{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-2">
        <h2 class="text-center mb-2">Mon profil</h2>
        {{ form_start(profileForm) }}
        <div class=" d-flex justify-content-around ">



            <div class="text-center mb-3">
                <img src="{{ asset('uploads/images/' ~ participant.filename) }}"
                     class="card-img-top img-fluid" alt="image" style="border-radius: 10px; border: 5px solid white">
            </div>



            <div class="text-center mb-3">

                {% for field in profileForm  %}
                {% if field.vars.name != 'filename' %}
                    <div class="mb-3">
                        {{ form_widget(field) }}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            {{ form_end(profileForm) }}
        </div>
    </div>


{% endblock %}
